/* display:'flex' , justifyContent:'center' , alignContent:'center',alignItems:'center'
 */


 .box_auth{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
 }